@import './common';

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.search-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background:  #7bbbff;
    box-shadow: 0px 1px 2px 1px rgba(6, 6, 63, 0.3);
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 20%;
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: #fff;
    padding: 8px 10px;
}

.search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
    background-color: #536cd0;
}

.btn-load-more.is-hidden {
    display: none;
}

.btn-load-more {
    display: block;
    margin: 25px auto 0 auto;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7bbbff;;
    color: white;
    cursor: pointer;
}

.gallery-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.gallery,
.info {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    margin-left: -20px;
    padding-top: 60px;
    justify-content: center;
}

.gallery__link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: 2px solid rgb(241, 238, 238);
    border-radius: 10px;
}

.gallery__link:hover,
.gallery__link:focus {
    box-shadow: 0 2px 3px rgba(89, 66, 208, 0.12);
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.photo-card__img {
    display: block;
    height: 30vh;
    object-fit: cover;
}

.info {
    padding: 10px;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.info-item:not(:first-child) {
    margin-left: 5px;
}

.btn-load-more.is-hidden {
    display: none;
}

.btn-load-more:hover,
.btn-to-top:hover {
    background-color: #2b3e88;
}
